nav {
    padding-left: 3%;
}

.content {
    background-color: #fdca40;
    padding: 5%;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.icon {
    font-size: 300px;
    text-align: center;
}

.s {
    text-align: center;
}

button {
    margin: 30%;
}

.b {
    padding: 5%;
    margin: 2%;
}

.skill {
    padding: 5%;
    background-color: #8fd9a8;
}

.s {
    text-align: center;
}

.c {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    text-align: center;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 5%;
    text-align: center;
}

.fas {
    font-size: 65px;
    padding-top: 10%;
    color: blue;
}

.x {
    padding-top: 9%;
}

.y {
    padding-top: 2%;
}

hr {
    color: #333;
    width: 60%;
    padding: 0%;
    margin: auto;
    text-align: center;
    border: none;
}

.int {
    background-color: #edffa9;
}

.f {
    background-color: #edffa9;
    padding-bottom: 2%;
}

.h {
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 5% 10%;
}

.fl {
    font-size: 30px;
    text-align: center;
}

.ass {
    background-color: #8fd9a8;
    padding-bottom: 5%;
}

.as {
    padding-bottom: 50%;
}

.hh {
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 3%;
    padding-bottom: 2%;
}

.ss {
    text-align: center;
    font-size: 20px;
}

.sss {
    background-color: #ffe268;
    padding-bottom: 3%;
}

.t {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    text-decoration-line: underline;
}

footer {
    background-color: #e4bad4;
    padding: 2% 10% 0% 10%;
}

.hov {
    text-decoration-line: none;
    color: blueviolet;
    background-color: #e4bad4;
}

.hov:hover {
    color: red;
}

.ddd {
    text-align: center;
    padding-left: 50%;
}

img {
    border-radius: 100%;
}

.head {
    color: #440a67;
}